* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  /* height: 1500; */
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container {
  width: 100%;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  width: 100%;
  height: 65px;
  background-color: #fff;
}

.navbar ul {
  list-style: none;
  float: right;
  display: flex;

  margin: 10 0;
}
.navbar li {
  padding: 5px 20;
  font-weight: 700;
  font-size: 18;
}

.navbar li a {
  text-decoration: none;
  color: #333333;
}
.navbar li a:hover {
  color: orange;
}
.icon2 {
  width: 40;
  height: 35;
  background-color: orange;
  float: right;
  border-radius: 10;
  display: none;
}
.heart-icon {
  width: 25;
  height: 25;
  float: right;
  margin: 6;
}

.supportUs {
  border: 1 solid orange;
  padding: 8 12;
  border-radius: 8;
  font-size: 14;
  box-shadow: 0 0 2 #ccc;
}
.supportUs:hover {
  background-color: orange;
  color: #fff;
}

/* page intro */

.clear-fix {
  clear: both;
}

.page-intro {
  width: 100%;
  height: 400;
  color: rgb(32, 35, 41);
  text-align: center;
  align-content: center;
}

.page-intro h1 {
  margin: 0;
  font-weight: 900;
  font-size: 100;
}

/* main area */

.main-area {
  background-color: rgb(39, 43, 51);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;

}

.charcter-card {
  width: 600px;
  height: 220px;
  background-color: rgb(60, 62, 68);
  float: left;
  margin: 15;
  border-radius: 10;
  display: flex;
}

.charcter-card-left {
  width: 230;
  height: 220;
}

.charcter-card-left img {
  width: 100%;
  height: 220;
  border-radius: 10 0 0 10;
}

/* content */

.charcter-card-right {
  width: 370;
  height: 220;
  /* margin: 0;
  padding: 0; */
}

.charcter-card-content-wrapper {
  width: 100%;
  height: 220;
  padding-left: 10;
}

.sec1 {
  width: 100%;
  height: calc(100% / 3);
  margin-top: 5;
}

.sec1 h2 {
  margin: 0;
  font-size: 27;
  font-weight: 800;
}

.sec1 a {
  text-decoration: none;
  color: #fff;
}

.sec1 a:hover {
  color: orange;
}
.status {
  display: flex;
  /* background-color: aqua; */
}
.status-icon {
  /* margin-top: 5; */
}
.alive {
  width: 10;
  height: auto;
}
.dead {
  width: 10;
  height: auto;
}
.unknown {
  width: 10;
  height: auto;
}

.status p {
  margin: 0 0;
  padding-left: 10;
  color: #fff;
  font-size: 16;
  font-weight: 500;
}

.sec2 {
  width: 100%;
  height: calc(100% / 3);
  margin-top: 5;
}
.text-gray {
  font-size: 16;
  color: rgb(158, 158, 158);
  font-weight: 500;
  display: block;
}
.sec2 a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18;
  margin: 7 0;
}
.sec2 a:hover {
  color: orange;
}
.sec3 a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18;
  margin: 7 0;
}
.sec3 a:hover {
  color: orange;
}

.footer {
  width: 100%;
  height: 500;
  margin: 0;
  display: flex;
  background-color: cadetblue;
  text-align: center;
  font-size: 55;
}

@media screen and (max-width: 1270px) {
  .page-intro {
    width: 100%;
    height: 250;
    color: rgb(32, 35, 41);
    text-align: center;
    align-items: center;
  }
  .main-area {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 890px) {
  .page-intro h1 {
    font-size: 70;
  }
  .header {
    box-shadow: 5 1 2 #ccc;
  }
}
@media screen and (max-width: 650px) {
  .page-intro h1 {
    font-size: 57;
  }

  .supportUs {
    display: none;
  }
  .icon2 {
    display: inline;
    margin: 10 30 0 0;
  }
}

@media screen and (max-width: 620px) {
  .charcter-card {
    width: 100%;
    height: auto;
    background-color: rgb(60, 62, 68);
    /* float: left; */
    /* margin: 15; */
    border-radius: 10;
    flex-direction: column;
    /* grid-auto-flow: row; */
    /* display: block; */
  }

  .charcter-card-left {
    width: 100%;
    height: auto;
    /* display: block; */
  }

  .charcter-card-left img {
    width: 100%;
    height: auto;
    border-radius: 10 10 0 0;
    /* display: block; */
  }
  .charcter-card-content-wrapper {
    width: 100%;
    height: 220;
  }
}
